@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    text-align: center;
    font-size: 1.2em; 
    background-color: #DEDEE0;
}
.FotoPerfil{
    border-radius: 50%;
}
.FotoIcone{
    vertical-align: middle;
}

.TituloSecundario{
    font-size: 2.2em;
    margin-top: 50px;
    margin-left: 50px;
}
.ladoesquerdo{
    display: inline-block;
    font-size: 1.2em;
    width: 50%;
    margin-left: 50px;
}
.FotoDireita{
    width: auto;
    margin-left: 200px;
}

.ListaEsquerdo{
    display: inline-block;
    font-size: 1.3em;
    width: 50%;
    margin-top: 10px;
    margin-left: 80px;
}