@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    text-align: center;
    font-size: 1.2em; 
    background-color: #DEDEE0;
}
.FotoPerfil{
    border-radius: 50%;
}
.FotoIcone{
    vertical-align: middle;
}

main{
    margin-left: 50px;
}
.TituloSecundario{
    font-size: 2.2em;
    margin-top: 50px;
}
.SobreMim{
    display: inline-block;
    font-size: 1.2em;
    width: 50%;
}
.FotoDireita{
    display: inline-block;
    vertical-align: bottom;
    width: auto;
}

h3{
    font-size: 2em;
    margin-bottom: 10px;
}
ul{
    margin-left: 20px;
    font-size: 1.2em;
}
.FormaçãoAcademica{
    display: inline-block;
    width: 50%;
    margin-top: 80px;
}
.CursosComplementares{
    display: inline-block;
    width: auto;
    vertical-align: top;
    margin-top: 80px;
}

footer{
    margin-top: 100px;
    text-align: center;
}
.ImagemRedes{
    margin-left: 7px;
    margin-right: 7px;
}